#four div {
  margin-top: 5vw;
  margin-left: 5vw;
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  border: 1px solid red;
}
#four div.active {
  animation: color 1s linear infinite alternate;
}
@keyframes color {
  0% {
    background-color: red;
  }
  100% {
    background-color: yellow;
  }
}
